.login-container {
  background: url("../images/login-background.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  
}

.login-container .login-form {
  width: 400px;
  height: 100vh;
  background: #ffffff;
  padding: 20px;
}

.login-form .title {
  text-align: center;
  font-size: 25px;
  color: #757575;
  font-family: sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-form .input-wrapper {
  margin-bottom: 10px;
}